* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #eef2ff;
    font-family: "Roboto", sans-serif;
}

header {
    padding: 1rem 2rem;
    background-color: #d6daf0;
}

h2 {
    text-align: center;
    color: #115;
}

#menu {
    width: 2.5rem;
    position: absolute;
    left: 360px;
    top: 10px;
    border: none;
    background-color: transparent;
    text-align: center;
    color: #115;
    font-size: 2rem;
    font-weight: 700;
}

#menu::before {
    content: "\2261";
}

#menu.open::before {
    content: "X";
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav a {
    display: none;
    padding: 1rem;
    text-decoration: none;
    color: #335;
}

.open a {
    display: block;
}

nav a:hover {
    text-decoration: underline;
}

main {
    max-width: 1024px;
    margin: 0 auto 1rem;
}

h1 {
    margin: .5rem 0 1rem 0;
    text-align: center;
    color: #a11;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    row-gap: 1rem;
}

figure {
    text-align: center;
}

footer {
    padding: .5rem;
    background-color: #d6daf0;
    text-align: center;
}